a {
text-decoration: none;
font-size: 11px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1px;
}

h5 {
font-weight: 700;
text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 30px 100px 30px 210px;
  overflow-x: hidden;
}

@media only screen and (max-width : 680px) {
  .container {
    padding: 30px;
  }
}

@media only screen and (max-width : 680px) {
  a {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
