<div class="container">
  <h3>Meal of the day:</h3>
  <!-- random recipe -->
  <section *ngIf="random !== null">
    <div class="wrapper">
      <div class="recipe-box">
        <img class="thumb" src="{{random.strMealThumb}}">
        <div class="details-box">
          <h2
            routerLink="/category/{{random.strCategory.toLowerCase()}}/{{(random.strMeal).toLowerCase()}}/{{random.idMeal}}">
            {{random.strMeal}}</h2>
        </div>
      </div>
    </div>
  </section>

  <app-featured></app-featured>
</div>
